
.btn {
    padding: 20px 60px;
    color: #ffffff;
    border: none;
    font-size: 34px;
    cursor: pointer;
}

.disabled {
    padding: 20px 60px;
    color: #ffffff;
    border: none;
    font-size: 34px;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.disabled input:hover,
.disabled input:focus {
    background-color: none;
}

.start {
    background-color: #2ab676;
}

.stop {
    background-color: #c45555;
}

.reset {
    background-color: #0094ff;
}

.blk-lottery {
    border: 1px solid #808080;
    border-radius: 25px;
}

#set-lot {
    padding: 0;
    text-align: center;
}

    #set-lot li {
        display: inline-block;
        padding: 12px;
        font-size: 42px;
        border: 1px solid #808080;
        border-radius: 15px;
    }

#form-control {
    text-align: center;
}

    #form-control input {
        margin: 3px;
    }

.result {
    font-size: 60px;
    width: 200px;
    border: 1px solid #808080;
    border-radius: 25px;
    text-align: center;
}

.warning {
    border: 2px solid #c45555;
}

.success {
    border: 2px solid #2ab676;
}

span {
    margin: 0 10px 10px;
    display: block;
    font-size: 12px;
    color: #666
}

label {
    margin: 10px;
    font-size: 16px;
    display: block
}

.blk-main {
    width: 780px;
    margin: 0 auto;
}

.blk-my-result {
    width: 10%;
    position: relative;
    float: left;
    padding: 20px;
    margin: 10px;
    border: 1px solid #808080;
    border-radius: 25px;
    text-align: center;
}

.blk-lottery {
    width: 60%;
    position: relative;
    float: left;
}

.blk-pc-result {
    width: 10%;
    position: relative;
    float: left;
    padding: 20px;
    margin: 10px;
    border: 1px solid #808080;
    border-radius: 25px;
    text-align: center;
}

.resList {
    list-style-type: none;
    padding-left: 0;
}

    .resList li {
        border-bottom: 1px solid #c6c6c6;
        padding: 12px;
        width: 40px;
        margin: 0 auto;
    }

#helpers {
    display: none;
    height: 0px;
    text-align: center;
    background-color: #c45555;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
}

#mresult {
    display: none;
    height: 0px;
    text-align: center;
    background-color: #2ab676;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}